* {
    margin: 0;
    padding: 0;
}

body {
    padding-left: 200px;
    padding-top: 200px;
}

.login {
    background-color: rgb(246, 243, 243);
    height: 300px;
    width: 400px;
    align-items: center;
    justify-content: baseline;
}

.hedding h1 {
    height: 85px;
    width: 400px;
    background-color: rgb(216, 11, 11);
    text-align: center;
    justify-content: center;
    display: flex;
    color: white;
    align-items: center;
    border-block-color: black;
}

.name {
    width: 380px;
    height: 30px;
    margin-top: 8px;
    margin-left: 5px;
    background-color: white;
    text-decoration: none;
}

.password {
    width: 380px;
    height: 30px;
    margin-left: 5px;
    margin-top: 8px;
    background-color: white;
    text-decoration: none;
}

::placeholder {
    margin-left: 5px;
}

.option {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    text-decoration: none;
}

.signin {
    background-color: rgb(17, 0, 255);
    height: 35px;
    width: 370px;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-top: 35px;
    display: flex;
    color: white;
    border-radius: 5px;
}

.signin:hover {
    background-color: rgb(216, 11, 11);
}