* {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: '("download 1.jpg")';
    
}

.first {
    width: 100%;
    height: 81px;
    border-bottom: 1.5px solid rgb(224, 221, 221);
}

.first img {
    height: 55px;
    width: 200px;
    margin-top: 0.7rem;
}


/* .slider {
    height: 495px;
    width: 1280px;
} */


/* login box */

.login {
    background-color: white;
    height: 300px;
    width: 400px;
    margin-top: 90px;
    margin-left: 770px;
    margin-bottom: 100px;
    position: absolute;
    background-image: ("download 1.jpg");
}

.hedding h1 {
    height: 85px;
    width: 400px;
    background-color: rgb(243, 9, 9);
    text-align: center;
    justify-content: center;
    display: flex;
    color: white;
    align-items: center;
    border-s
    
}

.username {
    width: 365px;
    height: 30px;
    margin-top: 8px;
    margin-left: 15px;
    background-color: white;
    border: 2px solid black;
    text-decoration: none;
}

.password {
    width: 365px;
    height: 30px;
    margin-left: 15px;
    margin-top: 8px;
    background-color: white;
    text-decoration: none;
}

.name ::placeholder {
    margin-left: 10rem;
}

.option {
    display: flex;
    justify-content: space-between 0px;
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 10px;
    text-decoration: none;
}

.signin {
    background-color: rgb(7, 109, 176);
    height: 40px;
    width: 360px;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-top: 35px;
    display: flex;
    color: white;
    border-radius: 5px;
}

.signin:hover {
    background-color: rgb(226, 43, 43);
}

.kamlesh {
    height: 468px;
    width: 100%;
    background-image: url("download 1.jpg");
    background-size: cover;
    background-position: center;
}

.foter {
    height: 34px;
    background-color: black;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    display: flex;
}

.foter p {
    color: white;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    display: flex;
    text-size-adjust: 
}

.option a {
    color: rgba(0, 106, 255, 0.998);
}

.option a :hover {
    text-decoration: aquamarine;
}